.onlyoffice-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 10001;
    padding: 15px;
}

.modal-dialog {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    display: table;
}

.modal-header {
    height: 6%;
    padding: 5px;
    display: table-row
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    padding: 5px;
}

button.pull-right {
    padding: 0 12px;
    background: none;
    outline: none;
    border: none;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #dedede;
    color: #dedede;
}

.modal-body {
    width: 100%;
    max-height: 94%;
    overflow: auto;
    padding: 0px;
    background: #dedede;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.modal-body .scroller {
    max-height: 94%;
    overflow: auto;
}

.onlyoffice-icon-header {
    width: 20px;
    height: auto;
}